<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="{service bus namespace}.servicebus.windows.net"/>
    <add key="User" value="{shared access policy name}"/>
    <add key="Password" value="{shared access key}"/>
    <add key="TopicName" value="fbdevices"/>
    <add key="Subscription" value="D1"/>
  </appSettings>
</configuration>
