<?xml version='1.0' encoding='utf-8'?>
<widget id="io.connectthedots.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ConnectTheDotsCordovaApp</name>
    <description>
        Cross-platform application for service-oriented part of Connect The Dots project.
    </description>
    <author email="dev@cordova.apache.org" href="http://connectthedots.io">
        Connect The Dots Microsoft Open Technologies
    </author>
    <content src="index.html" />
    <access origin="*" />
	<icon src="www/img/logo.png" />
</widget>
